/* left_side */
.sidebar {
    /* border-right: 1px;
    border-color: rgb(63 63 63);
    border-style: solid; */
    border-right: 1px rgb(63 63 63) solid;
    width: 250px;
    height: 100%;
    position: fixed;
    /* background-color: rgb(20 20 20);     */
}

.wrapper_list {
    margin: auto 20px;
}

.upper {
    /* border: 1px;
    border-color: hotpink;
    border-style: solid; */
    height: 60px;
    width: auto;
    justify-content: left;
    padding: 20px 0 0 25px;
}

#logo {
    width: 30px;
    height: 30px;
}

#logo:hover {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0px;
    font-family: 'NanumGothicCoding', 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
}

li {
    padding: 10px 10px 26px 7px;
    width: 210px;
    height: 20px;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(54 54 54);
    color: white;
}

/* inner_page */
.inner_page {
    margin-left: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* header */
.header {    
    /* border: 1px;
    border-color: orange;
    border-style: solid; */
    height: 60px;
    width: auto;
    position: relative;
    /* margin-left: 550px; */
    display: flex;
    flex-direction: row;
}

.icon_left {
    /* border: 1px;
    border-color: salmon;
    border-style: solid; */
    flex: none;
}

.icon_right {
    /* border: 1px;
    border-color: salmon;
    border-style: solid; */
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 120px;
    padding: 15px 10px 0 0;
}

.dark {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* border: 1px;
    border-color: salmon;
    border-style: solid; */
    padding: 3px 0 3px 5px;
}

.dark:hover {
    cursor: pointer;
}
    
.search {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* border: 1px;
    border-color: salmon;
    border-style: solid; */
    padding: 3px 0 3px 5px;
}

.search:hover {
    cursor: pointer;
}

/* contents */
.contents {
    display: flex;
    flex-direction: column;
    font-family: 'NanumGothicCoding', 'Jost', sans-serif;
    margin: 0 auto;
    width: auto;
}

/* footer */
.footer {
    /* border: 1px;
    border-color: rgb(63 63 63);
    border-style: solid; */

    border-top: 1px rgb(63 63 63) solid;
    height: 100px;
    width: auto;
    position: relative;
    bottom: 0;


    /* margin-left: 300px; */
    background-color: rgb(26 26 26);
}

/* second side bar */
.secondBar {
    /* border-right: 1px;
    border-color: rgb(63 63 63);
    border-style: solid; */
    border-right: 1px rgb(63 63 63) solid;
    width: 250px;
    height: 100%;
    margin-left: 250px;
    position: fixed;
    /* background-color: rgb(20 20 20);     */
}
